
#bold {font-size: 20px;
	font-weight: bold;
	}


#desc {
	font-size: 16px;
    font-family: Roboto;
    font-weight: 600;
	padding-bottom: 0px;
	padding-left: 50px;
	margin-top: 10px;
	color: #3e2850;
	padding-right: 50px;
	
}

#radial {
    padding-left: 40px;
}

#scatter {
    padding-left: 150px;
}

#map {
    padding-left: 50px;
}


h1 {
	padding-top: 30px;
    font-size: 30px;
    font-family: Montserrat;
    font-weight: bold;
    text-align: center;
	line-height: 0px;
	color:#512f74;}


#subheader {
	line-height: 20px;
    font-size: 18px;
    font-family: Montserrat;
    text-align: center;
	padding-bottom:5px;
	color:#505051;
}

p{
    font-size: 17px;
	font-family: Roboto;
    text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom:5px;
	color:#3e2850;
}

h2{
	display: inline;
	font-size: 30px;
	font-family: Montserrat;
	padding-left: 50px;
	padding-bottom:0px;
	padding-top:70px;
	line-height: 5px;
	margin-bottom: 0px;
	color:#512f74;
}




